body {
	padding-top: 50px;
	text-align: center;
}

select {
	width: 200px;
	height: 30px;
}

.error {
	color: red;
}

.hidden {
	display: none;
}

.breed-select {
	text-align: center;
	font-size: 16px;
}
.cat-info {
	padding-top: 50px;
	display: flex;
	gap: 2rem;
	justify-content: center;

	&__photo {
		width: 400px;
		box-shadow: 5px 5px 5px lightgrey;
	}

	&__description {
		text-align: left;
		line-height: 1.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		max-width: 500px;
	}
}
.cat-name {
	text-transform: uppercase;
}

.cat-temperament {
	font-style: italic;
	&__name {
		font-weight: 700;
	}
}
